<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435575767488-59f6bc2g1bs7lo6c1nh3dfntfhscn1ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435575767488-59f6bc2g1bs7lo6c1nh3dfntfhscn1ce</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbl8yhRDpQ2M2e419bFBsuocd-_E2DLI</string>
	<key>GCM_SENDER_ID</key>
	<string>435575767488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MS.FootballApp</string>
	<key>PROJECT_ID</key>
	<string>football-d3c21</string>
	<key>STORAGE_BUCKET</key>
	<string>football-d3c21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435575767488:ios:e362e143ada97bd12e0825</string>
</dict>
</plist>